/* Base styling */
html {
    scroll-behavior: smooth;
}

body {
    min-width: 325px;
    background: #1d1d1d;
    font-family: Independent, serif;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
}

.center-text {
    text-align: center;
}

/* Splash and nav styling */
.splash {
    width: 100%;
    height: 100vh;
    transition: 1s;
}

.splash-image {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /*Center splash span elements*/
}

.title {
    background: #fff;
    padding: 30px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    font-weight: bolder;
    margin: 0;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#1d1d1d;
}

.nav ul li {float: left;}

.nav ul li.right {float: right;}

.nav li a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 15px;
}

.nav li a:hover {
    background-color: #fff;
    color:#1d1d1d;
}

/* General section styling */
.use1, .use2, 
.harm, .solutions, 
.survey, .sources {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5rem;
    font-weight: bolder;
    margin-bottom: 0;
}

.subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
}

.section-card{
    margin: 40px;
    margin-bottom: 0;
}

.description {
    line-height: 1.75rem;
    margin-bottom: 30px;
}

.end {
    margin-bottom: 10rem;
}

ol li {
    padding: 10px;
    font-size: 1.125rem;
}

p {
    font-size: 1.125rem;
}

.use1 {
    background: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
}

.faceprint {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.use-item {
    display: inline-block;
    margin: 30px;
    vertical-align: top;
}

.responsive {
    max-width: 13rem;
    height: auto;
    border: 12px solid salmon;
}

.use2 p {
    color: #fff;
}

.harm {
    background: #fff;
    clip-path: polygon(0 12%, 100% 0, 100% 88%, 0% 100%);
}

.solutions p{
    color: #fff;
}

.survey {
    background: #fff;
    clip-path: polygon(0 12%, 100% 0, 100% 100%, 0% 100%);
}

.sources p{
    color: #fff;
}

/* Animated divs */
.eye {
    position: relative;
    animation: enterTop 2s, pulse 2s infinite;
}

.eye img {
    width:20rem;
}

.cam1 {
    z-index: 2;
    position: absolute;
    right: 30px;
    transform-origin: top right;
    animation: rotate 4s infinite;
}

.cam1 img {
    width: 15rem;
    max-width: 100%;
    height: auto;
}

/* Animations */
@keyframes rotate {
    0% {transform: rotate(30deg);}
    50% {transform: rotate(-10deg);}
    100% {transform: rotate(30deg);}
}

@keyframes enterTop {
    0% {top: -500px;}
    100% {top: 0px;}
}

@keyframes pulse {
	0% {transform: scale(0.85);}
	50% {transform: scale(1);}
	100% {transform: scale(0.85);}
}

@media (max-width: 930px) {
    .cam1 {
        right: 30px;
    }
    .cam1 img {
        width: 8rem;
    }
}


@media (max-width: 600px) {
    .nav li, .nav li.right {float: none;}
    .end {
        margin-bottom: 3rem;
    }

    .use1, .use2,
    .harm, .solutions,
    .survey, .sources {
        clip-path: none;
    }

    .use-item {
        display: block;
    }

    .cam1 {
        right: 30px;
    }
    .cam1 img {
        width: 5rem;
    }
}